# Python Language Course

Python is high-level, interpreted programming language. Python code is easy to read and syntax is simple. Python language has broad category of fields like
* data science 
* machine learning
* artificial inteligence
* Web development
* Image processing 
* Operating system 

there are two version of python available in market, python 2.7 and python3. python3 does not suppport version 2.7 and to keep update we have to use python3

# print statement

python print statement is used to print the data onto screen. let's take some examples of print statement

In [1]:
print("muhammad asad")

muhammad asad

In [6]:
print("Muhammad Asad",end="\n")
print("Software Engineer")

Muhammad Asad
Software Engineer

In [8]:
# we take the same example but use space to end
print("Muhammad Asad",end=" ")
print("Software Engineer")

Muhammad Asad Software Engineer

# Data Types

there are three main data types
1. Numbers
2. String
3. Booleans

# Variable

variable mean whose values can change or variable can store any data type in python, because in python there is not data type define while initializing the variable. variables are mutable

the two terms usually uses in python 
1. mutable 
2. immutable

mutable which can be changed

immuatable which cannot be change once defined

## Naming conventions for variable

* variable name can start with _ (underscore) or underscore can be used at any place
* variable may contain numbers but not at the start
* variable name cannot contain white spaces

# Numbers - data type

there are three type of numbers
* integers
* floating point numbers
* complex numbers

## Integers
integers contains positive and negative whole numbers like 1, 1000, -987 etc.

take 24 bytes in memory

In [9]:
print(767)

767

In [11]:
# we can check the type of number above
type(878)

int

## Floating Point Numbers 
numbers contains decimal points called floating point numbers.  take 24 bytes in memory

In [12]:
print(0.99)

0.99

In [13]:
type(0.99)

float

## complex numbers
complex numbers are those which contains real part + imaginary part like 10+9i is imaginary number or complex number

take 32 bytes in memory

In [15]:
x=complex(9,10)

In [16]:
print(x)

(9+10j)

In [17]:
type(x)

complex

## Boolean

Boolean or bool data type allows you to choose between __True or Flase__

In [18]:
print(True)

True

In [19]:
type(True)

bool

# Strings

string is a set of character enclose in single or double quotes

In [20]:
print("Hello World")
type("Hello Worls")

Hello World

str

## String Indexing

In [21]:
name="Muhammad Asad"

In [22]:
name[0]

'M'

In [23]:
name[0:2]

'Mu'

In [29]:
name[0::2] # interval is two

'Mhma sd'

In [30]:
# negative indexing
name[-1]

'd'

In [31]:
# reverse printin
name[::-1]

'dasA dammahuM'

In [44]:
name[:8]

'Muhammad'

In [46]:
name[:3]

'Muh'

### string methods

In [32]:
# string length
len(name)

13

In [40]:
name.upper()

'MUHAMMAD ASAD'

In [41]:
name.lower()

'muhammad asad'

In [43]:
name.count('a') # return count of a in string

3

# Operations

In [63]:
# addition 
a=10
b=-9
print("addition=",a+b)

#subtraciton
print("subtraction=",a-b)

# multiplication
print("multiplication=",a*b)

# division
print("division=",a/b)

# floor division
print("floor division=",13//4)

# mudulus
print("modulus=",16%4)

# precedence
print("precedence ",10-9+19*5/2) #multiplication >> division >> addition >> subtraction

# to avoid error in calculation we can use paranthesis
print(2*((10*2)+(10/2)))

addition= 1
subtraction= 19
multiplication= -90
division= -1.1111111111111112
floor division= 3
modulus= 0
precedence  48.5
50.0

# Comparison operators

there are some comparison operators like >, <, >=,<=,!= also __is__ , __is not__

In [71]:
# we can comparison between numbers

x=10
y=100

print(x>y) # return true or false
print(x<=y)
print(x!=y)
print(x>=y)
print(x is y) # return true if equal

False
True
True
False
False

# Assignment Operator

**=** is consider as assignment operator

In [79]:
a= 10 # 10 is assigned to a

In [80]:
a

10

In [81]:
# add and assign
a+=10 # actually it is a=a+10
a

20

In [83]:
b=20
# subtract and assign
b-=10
b

10

In [84]:
c=20
# subtract and assign
c*=2
c

40

In [85]:
d=20
# divide and assign
d/=10
d

2.0

In [86]:
e=20
# floor division and assign
e//=10
e

2

In [88]:
f=2
# power and assign
f**=10 # 2 to the power of 10 
f

1024

In [89]:
f=20
# modulus and assign
f%=10
f

0

# Logical Expressions

there are three logical expressions 
* and
* or
* not

In [94]:
a=True # True=1 Flase=0
b=False

a and b

False

In [95]:
a or b

True

In [96]:
not b

True

# Bitwise operation

bitwise operation mean answer will be according to bits

like<br>
2 >> 10 <br>
3 >> 11

In [99]:
num1=10 # 01010
num2=20 # 10100

In [105]:
num1 & num2 # and bitwise operator
num1 | num2 # or 
~num1 # not 
num1 << 3 # shift bits left
num2 >> 2 # shift bits right

5

# String Operations 

we can compare two strings at the backend we are comparing uni codes of strings.

In [107]:
a='asad'
a+a # + is used to concatenate the strings

'asadasad'

In [109]:
a*4 # to multiply the number to string return that number of times string

'asadasadasadasad'

In [111]:
x="pakistan Zindabad"
y="zindabad"

x in y

False

In [113]:
y in x # to search wethear this  string exist in other string

False

In [116]:
x = 20
y = 5
result = (x + True) / (4 - y * False)
result

5.25

# Conditional Statements

conditional statements are those which works on boolean values like if condition is true then run the block of code otherwise not or run another block of code.

In [117]:
# if statement

if True:
    print("condition is true")

condition is true

In [118]:
if 10>1:
    print("condition is true")

condition is true

__there are three type of conditional statements in python__
* __if__
* __if else__
* __if elif else__

example 1

In [122]:
marks=int(input("enter your marks 0 to 100: "))
if marks>90:
    print("A+")
elif marks>80:
    print("A")
else:
    print("Fail")

enter your marks 0 to 100: 60
fail

example 2

In [129]:
# take the same example by using logical operators
# else is not necessary in python while using elif statement

marks=int(input("enter your marks 0 to 100: "))
if marks>90 and marks<100:
    print("A+")
elif marks>80 and marks <= 90:
    print("A")
else:
    print("Fail")

enter your marks 0 to 100: 90
A

In [126]:
# example 

num=10
# nested statement
if num>=0:
    if num<=20:
        print("number is in between 0 and 20")

number is in between 0 and 20

# Problem Statement in course
In this challenge, you must discount a price according to its value.

If the price is 300 or above, there will be a 30% discount.

If the price is between 200 and 300 (200 inclusive), there will be a 20% discount.

If the price is between 100 and 200 (100 inclusive), there will be a 10% discount.

If the price is less than 100, there will be a 5% discount.

If the price is negative, there will be no discount.

__Task:__

__This is a simple problem related to all the conditional statements we’ve covered. The price variable has already been created. You can use it in your code and assign it a new value based on the discount.__

In [4]:
price=int(input("enter price: "))
price_with_discount=0

if price>=300:
    price_with_discount=price -price*0.30
    print("30% discount\nyour price is ",price_with_discount)
elif price>=200 and price<300:
    price_with_discount=price -price*0.20
    print("20% discount\nyour price is ",price_with_discount)
elif price>=100 and price<200:
    price_with_discount=price - price*0.10
    print("10% discount\nyour price is ",price_with_discount)
elif price<100:
    price_with_discount=price -price*0.05
    print("5% discount\nyour price is ",price_with_discount)
elif price<0:
    print("No discount")

enter price: 200
20% discount
your price is  160.0

# Functions

Function are the block of code which runs when called. This piece of code performs performs specific task and this specific task can be called when needed. in simple we can use function any time other than writing code again and again.

In [10]:
# this function will take two arguments and return sum of two numbers
def sum_of_two_numbers(a,b):
    return a+b

sum_ = sum_of_two_numbers(12,10)
print("sum of two numbers:",sum_)

sum of two numbers: 22

__python also use local and global variable concept like if you defined variable inside the function you cannot called it from outside function rather it is defined outside.__ if you done this program will show an error

In [28]:
name='Asad'
def name():
    name='asad'
    return name

In [ ]:
print(name())

__if the mutable data types are passed to the function then we can change that. in case of immutable data types like tuple etc cannot be changed at all__

# Built-in functions

 __sub-string__

In [5]:
# find() mehtod is used to find the substring in the original string

string="my name is asad"
print(string.find('is')) # this will return the lowest index of substring
print(string.find('is',11,14)) # no string in this range

8
-1

__replcae__

In [8]:
string=string.replace(string,"My name is M.Asad")

In [9]:
string

'My name is M.Asad'

In [10]:
string.upper()

'MY NAME IS M.ASAD'

In [11]:
string.lower()

'my name is m.asad'

# Type Conversions

while taking an input the string is input by user always, we have to convert it into string we use __int__ to convert to integer and __float__ to convert to float, __str__ for string and __bool__ for boolean

In [12]:
name=input("enter you name: ")

enter you name: asad

In [13]:
name

'asad'

In [14]:
type(name)

str

In [15]:
RegNo= input("Enter you Registration No: ")

Enter you Registration No: 59

In [16]:
RegNo

'59'

In [17]:
type(RegNo)

str

In [18]:
RegNo=int(RegNo)

In [19]:
type(RegNo)

int

# Lambda Expression

lambda function usually called anonymous function because it has no name, let's see some examples of lambda function

In [26]:
# DEFINING THE LAMBDA FUNCTION 
squares=lambda a: a**a

print(squares(2)) # CALLING THE LAMBDA FUNCTION

4

# Using function as a argument

In [29]:
def add(a,b):
    return a+b

def calculator(op,a,b):
    return op(a,b) #here we have used argument as function

print(calculator(add,10,20))

30

In [34]:
# without defining the function of add we can use lambda function

res=calculator(lambda a,b: a+b,10,20)
res

30

__map()__ function

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

__map(function,iter)__

In [41]:
l=[1,2,4,5,6]
result=map(lambda a: a**a,l) # map return map object you have to parse it

In [42]:
list(result)

[1, 4, 256, 3125, 46656]

__filter()__ function

filter function is used to fiter the elements based on some condition let see an example

In [46]:
list_=[2,10,30,100,-1,-89]
lis=list(filter(lambda a:a>0,list_)) # first argument as function and second iter

In [47]:
lis

[2, 10, 30, 100]

# Recursion

process in which function calls itself during function execution and stop at base case
let see an example of recursive function

In [52]:
def count(n):
    print(n)
    if n<=0: # base case when fucntion stops its execution
        return 0
    else:
        count(n-1) # function calls itself

In [53]:
count(5)

5
4
3
2
1
0

implementing Febonachi series using recursive function

In [56]:
def fib(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fib(n-1)+fib(n-2) # here recursive call

In [57]:
# to find the 10th element of Febonachin sequence 
fib(10)

55

# exercise repetition and concatenation
In this exercise, you must implement the rep_cat function. You are given two integers, x and y, as arguments. You must convert them into strings. The string value of x must be repeated 10 times and the string value of y must be repeated 5 times.

At the end, y will be concatenated to x and the resulting string must returned.

In [63]:
def rep_cat(x,y):
    x=str(x)*10
    y=str(y)*5
    return x+y

rep_cat(3,5)

'333333333355555'

# Factorial
In this challenge, you must implement the factorial() function. It takes an integer as a parameter and calculates its factorial. Python does have a built-in factorial function but you’ll be creating your own for practice.

In [79]:
# factorial = n*(n-1)*(n-2)*........*1

def factorial(n):
    if n == 0 or n == 1:
        return 1
    if n < 0:
        return -1
    
    return n * factorial(n - 1)


print(factorial(6))

720

# Loop

 loops are control structures to perform set of operation specific number of times

there are differnt types of loops in python

for loop <br>
while loop<br>

for loop can be iterate over sequence or we can use range() fucntion

In [81]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [82]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [88]:
li=[1,2,34,5,6,6,7,8,8]

for i in li:
    print(i)

1
2
34
5
6
6
7
8
8

In [89]:
for i in range(0,len(li)):
    print(li[i])

1
2
34
5
6
6
7
8
8

# Nested For Loop

In [92]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## Break Keyword
to terminate the loop on specific condition we can use break statement

In [97]:
for i in li:
    if i%3==0:
        break
    else:
        print(i)

1
2
34
5

# Continue

if we want to go to the loop other than executing all the statements then we can use Continue statement

In [99]:
li=[2,4,5,6,8,9]

for i in li:
    if i%2==0:
        continue
    else:
        print(i)

5
9

# while loop
when we know the termination condition then we use while loop other wise for loop

In [100]:
n=10

while n>=0:
    print(n)
    n-=1

10
9
8
7
6
5
4
3
2
1
0

# Problem Statement 
Given a string containing only square brackets, [], you must check whether the brackets are balanced or not. The brackets are said to be balanced if, for every opening bracket, there is a closing bracket.

You will write your code in the check_balance() function, which returns True if the brackets are balanced and False if they are not.

For an empty string, the function will return True.

For the sake of simplicity, you can assume that the string will not contain any other characters.

In [119]:
def check_balance(brackets):
    check = 0
    for bracket in brackets:
        if bracket == '[':
            check += 1

        elif bracket == ']':
            check -= 1

        if check < 0:
            break

    return check == 0

In [120]:

x='[][]'
check_balance(x)

True

# problem statement
You must implement the check_sum() function which takes in a list and returns True if the sum of two numbers in the list is zero. If no such pair exists, return False.

In [16]:
def check_sum(x):
    for i in x:
        for j in x:
            if j+i==0:
                print(i,j)
                break
            else:
                continue

In [18]:
l=[1,2,3,4,5,-5,-4]
check_sum(l)

4 -4
5 -5
-5 5
-4 4

In [31]:
# FEBONACHI SERIES 0 1 1 2 3 5 8 13

def fib(n):
    if n==0 or n==1:
        return 1
    if n<0:
        return -1
    else:
        x=0
        y=1
        for i in range(1,n-1):
            temp=x+y
            x=y
            y=temp
        return temp

In [33]:
fib(5)

3

# Data Structures

data structure is a way to store a data into specific pattern.

Data structures in python 
* list
* tuple
* dictionary 
* set

# List

The list is perhaps the most commonly used data structure in Python. It allows us to store elements of different data types in one container.

The contents of a list are enclosed by square brackets, []

Properties of List

The main properties of list are given below:

* Lists are ordered
* List allow duplication of elements
* Lists are mutable, it allow to change elemet within it without creating new list.

When We Use List?

For the follwing purposes we can use list

* When we need ordered sequence of items
* When we need to add, remove,delete or update the items within list
* if we want to use list as a stack or queue 



## Creating List

we can create list using range function or directly

In [13]:
list1=[1,3,4,5,6]
list1

[1, 3, 4, 5, 6]

In [14]:
list2= list(range(0,10))

In [15]:
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### accessing value from list

In [16]:
list1[0]

1

In [17]:
list2[5]

5

### updating list

In [18]:
# append() method is used to update list at end 

list1.append(6)

In [19]:
list1

[1, 3, 4, 5, 6, 6]

### deleting the list

In [20]:
#we can use pop() method to delete specific index element or use clear() method to delete list

list1.pop(5)
list1 # after poping last element

[1, 3, 4, 5, 6]

In [21]:
list1.clear()
list1

[]

## concatenating the list using "+"

In [22]:
l1=[1,2,3,4,6]
l2=[2,3,4,6,77,67]

l1+l2

[1, 2, 3, 4, 6, 2, 3, 4, 6, 77, 67]

## repeting list using "*" operator

In [23]:
l1*3

[1, 2, 3, 4, 6, 1, 2, 3, 4, 6, 1, 2, 3, 4, 6]

## Slicing the list

In [24]:
l2[0:2]

[2, 3]

In [25]:
l2[0:4:2] # 0 is starting index, 4 is last index (excluded) , 2 is interval between elements

[2, 4]

In [26]:
l2

[2, 3, 4, 6, 77, 67]

In [29]:
l2[::-1] # reverse the string

[67, 77, 6, 4, 3, 2]

In [30]:
l2[-2:-4:-1] # fetching element from last same as above l2[0:4:2]

[77, 6]

# list comprehention

List comprehension is a technique that uses a for loop and a condition to create a new list from an existing one.

[expression           for loop           if condition]

In [34]:
x=[1,2,3,4,5,6,7]

new_list=[n**2 for n in x] # creating list of squares

In [35]:
new_list

[1, 4, 9, 16, 25, 36, 49]

In [37]:
new_list=[n**2 for n in x if n>2] # sqauare values for greater then 2
new_list

[9, 16, 25, 36, 49]

In [38]:
list1 = [30, 50, 110, 40, 15, 75]
list2 = [10, 60, 20, 50]

sum_list = [(n1, n2) for n1 in list1 for n2 in list2 if n1 + n2 > 100]

print(sum_list)

[(50, 60), (110, 10), (110, 60), (110, 20), (110, 50), (75, 60), (75, 50)]

# Tuples

### What is Tuple?
A tuple is a set of objects that are immutable to Python. Just like lists, tuples are sequences. The distinctions between tuples and lists are, unlike list and tuples, the tuples cannot be modified. The development of a tuple is as easy as putting different values separated by comma. You can also place certain comma-separated values in parentheses.

Properties of Tuple
The main properties of the tuple are given below:

* It is same as list. The differences between tuples and lists are, the tuples cannot be changed.
* Each item is comma (,) separated.
* Empty Tuple is shown as ().
* To write a tuple containing a single value you have to include a comma (,) even though there is only one value. For Example: tup = (40,).
* It can also have multiple data type values.
* Like string indices, tuple indices start at 0, and they can be sliced, concatenated, and so on.

### When we need a Tuple?
For the following purposes we need the python tuple.

* Use tuples when your data cannot change.
* Tuple is typically used for heterogeneous (different) datatypes.

### What advantages do tuples have over lists?
I’m going to talk about how python memory works …

This implies that tuples are set, since tuples are immutable. We can’t memorize anything to do about them.

This method is called append, however, to lists. To make most of you appends quick, python will actually create a larger memory array just in case of append.

This way, it doesn’t have to recreate a list every time you do annex it. This also means passing around 3 elements if you just need to. Making a list of 3 would cost more than 3 memory-value components. (How would you know might not want to add a 4th​​ 5th​​ 6th​​ element? Play it safely and suppose you may want more!)

On the other hand, it tells python through the use of tuples that you want to immutable structure. Give me 3 things in space, fill up those slots and move on.

In [39]:
tup=('asad','ali','alvi')

In [40]:
tup.count('asad')

1

In [41]:
tup[1]

'ali'

In [43]:
tup[2]='asad'

TypeError: 'tuple' object does not support item assignment

In [44]:
tup[0:2]

('asad', 'ali')

**we cannot update the tuple but we can create new tuple which can have different tuples or elements**

In [45]:
tup1=('asad',1,2,4)
tup2=(5,6,7,8,9)

tup3=tup1+tup2

In [46]:
tup3

('asad', 1, 2, 4, 5, 6, 7, 8, 9)

### deleting tuple

In [47]:
del(tup2)

In [48]:
tup2

NameError: name 'tup2' is not defined

# Dictionaries

## What is Dictionary?
Python’s dictionary is an unordered set of data values used to store data values like a map that, unlike other data types that only carry a single value as an element, dictionary holds​​ key:value pair. In the dictionary the key value is given to make it more optimized.



## Properties of Dictionary
The main properties of the dictionary are given below:

* It is same as array of objects having key and values in PHP.
* Each key is separated by colon (:) from its value.
* Each item is separated with comma (,).
* Empty dictionary can be written as {}.
* Keys are unique in dictionary, but values may not.
* The values of the dictionary can be of any data type.
* The keys must be of an immutable data type such as strings, numbers, or tuples.

## When we need a Dictionary?
We use dictionary when we have to manage a fata against the keys or indexing. As if we have the millions of students in the institute than we must have to use the dictionary as if we use the list than we have to make the logic to make the indexing or keys. So, we use the dictionary for this rather than list.

## Why we need a Dictionary?
Consider having an element E and a list with a Billion entries, L. If you want to check if E is in L, you have to, in worst case, check all the Billion entries in L for equality to E. If you have a dictionary, you have to check only once, regardless of the size of the dictionary.

In [49]:
my_dict={1:'asad',2:'ali'}

In [50]:
my_dict

{1: 'asad', 2: 'ali'}

### accessing dictionary value

In [51]:
my_dict[1]

'asad'

In [52]:
my_dict[3]='asghar'

In [53]:
my_dict

{1: 'asad', 2: 'ali', 3: 'asghar'}

## Deleting the dictionary

In [54]:
del(my_dict)

In [55]:
my_dict

NameError: name 'my_dict' is not defined

In [56]:
my_dict={1:'asad',2:'ali',3:'asghar'}

In [58]:
my_dict.keys()

dict_keys([1, 2, 3])

In [61]:
my_dict.items()

dict_items([(1, 'asad'), (2, 'ali'), (3, 'asghar')])

# Sets

## What is Set?
A set is an unordered, iterable, mutable type of data collection that does not have duplicate components. The set-class of python is the mathematical notion of a set. The major advantage of using a set, as opposed to a list, is that it has a highly optimized method of checking whether the set contains a particular element. This is focused on the structure of data, known as a hash table.

## Properties of Set
The main properties of the set are given below:

* Sets are unordered.
* Set elements are unique. Duplicate elements are not allowed.
* A set itself may be modified, but the elements contained in the set must be of an immutable type.

## When we need a Set?
For the following purposes we need the python set.

Use a set if you need uniqueness for the elements.
Since set is unordered collection of data but also mutable, so it is very helpful working with huge datasets.
It has a highly optimized method for checking whether a specific element is contained in the set.

## Why we need a Set?
We use the set since sets can not have multiple occurrences of the same element, it makes sets very useful for effectively removing duplicate values from a list or tuple and performing basic math operations such as union and intersections.

Set is listed in curly brackets ({}); values are declared inside these curly brackets. A comma (,) separates each value from other and normally it looks like this:

In [62]:
this_set = {"Apple" ,"Banana","Cherry"}

### Accessing Value in Set
Through referring to an index, you can not access objects in a set, because sets are unordered, and the items have no index.

By using a for loop, you can loop through the set objects, or query whether there is a given value in a set, by using the in keyword.

In [67]:
for x in this_set:
    print(x)

Cherry
Apple
Banana

In [69]:
print('Banana' in this_set)

True

In [70]:
this_set.add('orange')

In [72]:
this_set

{'Apple', 'Banana', 'Cherry', 'orange'}

## Set Operations

### Union

Union operation means to unite the two different sets by using the union() method of set​​ but similar unite at once. See the given example

In [73]:
this_set1 = {"Apple" ,"Banana" ,"Cherry"}

this_set2 = {'Artichoke' ,'Aubergine','Asparagus','Apple'}

this_set1.union(this_set2)

{'Apple', 'Artichoke', 'Asparagus', 'Aubergine', 'Banana', 'Cherry'}

### Intersection
Intersection operation means to get the common values between the two sets. See the given example

In [75]:
this_set1 = {"Apple" ,"Banana" ,"Cherry"}

this_set2 = {'Artichoke' ,'Aubergine','Asparagus','Apple'}

this_set1.intersection(this_set2)

{'Apple'}

### Difference
Difference operation means to get the values of the first set that are not values of other set. See the given example.

In [77]:
this_set1 = {"Apple" ,"Banana" ,"Cherry"}

this_set2 = {'Artichoke' ,'Aubergine','Asparagus','Apple'}

this_set1.difference(this_set2)

{'Banana', 'Cherry'}

## Symmetric Difference
Symmetric difference means to get all the values that are values of exactly one of two sets, but not both.

In [78]:
this_set1 = {"Apple" ,"Banana" ,"Cherry"}

this_set2 = {'Artichoke' ,'Aubergine','Asparagus','Apple'}

this_set1.symmetric_difference(this_set2)

{'Artichoke', 'Asparagus', 'Aubergine', 'Banana', 'Cherry'}

# Problem Statement
You are given a list called my_list. Using this list, you must create a tuple called my_tuple. The tuple will contain the list’s first element, last element, and the length of the list, in that same order.

In [83]:
# 
my_list = [34, 82.6, "Darth Vader", 17, "Hannibal",12,'asad']
first_element=my_list[0]
last_element=my_list[-1]
length=len(my_list)
tup=tuple([first_element,last_element,length])
print(tup)

(34, 'asad', 7)

# Problem Statement
Given a list of integers and a number k, find the kth maximum element in the list. The element will be stored in the kth_max variable.

In [84]:
test_list = [40, 35, 82, 14, 22, 66, 53]
k = 2

test_list.sort()
kth_max = test_list[-k]
print(kth_max)

66

# Problem Statement
You must implement the count_low_high() function. Its parameter is a list of numbers.

If a number is greater than 50 or divisible by 3, it will count as a high. If these conditions are not met, the number is considered a low.

At the end of the function, you must return a list that contains the number of lows and highs, in that order.

In case the list is empty, you may return None.

In [88]:
def count_low_high(list1):
    high=0
    low=0
    for i in list1:
        if i>50 or i%3==0:
            high+=1
        else:
            low+=1
    return list([low,high])

In [89]:
count_low_high([51,56,6,5,89,56])

[1, 5]

# Python Standard Library

The Python Standard Library, PSL, is a collection of pre-defined modules, or sets of methods which help us perform certain tasks in Python.

## importing module

In [97]:
import datetime

today_date=datetime.date.today()
print(today_date)

now_time=datetime.datetime.now()
print(now_time)

print(now_time.strftime("%H:%M:%S"))

2021-03-03
2021-03-03 09:59:21.602740
09:59:21

# popular modules

* math
* heapq
* random